@font-face {
    font-family: header;
    src: url("fonts/header.ttf")
}
  
/* @import url("https://use.typekit.net/jmk3xov.css"); */

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  font-family: brandon-grotesque, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 100px;
  text-transform: uppercase;
  color: #d6d6d6;
  text-align: center;
}
main {
  position: absolute;
  padding: 0%;
  width: 100vh;
}
p{
  font-family: brandon-grotesque, sans-serif;
  font-size: 21px;
  background-color: #212529;
  padding: 10px;
}
button{
  background-color: Transparent !important;
  border: none !important;
}
button:hover{
  background-color: rgba(68, 78, 89, 0.351) !important;
}
#leftB{
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  left: 0;
  top: calc(50vh - 20px);
}
#rightB{
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  right: 0;
  top: calc(50vh - 20px);
  
}
#downB{
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  right: calc(50vw - 20px);
  bottom: 0;
}
#down{
  padding-left: 2rem;
  padding-right: 2rem;
}
#left, #right{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.title{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #212529;
  padding: 20px;
}

.aboutMe{
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

#aboutMe:hover{
  cursor: pointer;
}

.lang{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}

#lang:hover{
  cursor: pointer;
}
