@font-face {
    font-family: header;
    src: url("fonts/header.ttf")
}
  
/* @import url("https://use.typekit.net/jmk3xov.css"); */

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  font-family: brandon-grotesque, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 100px;
  text-transform: uppercase;
  color: #d6d6d6;
  text-align: center;
}
main {
  position: absolute;
  padding: 0%;
}
#leftB{
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 99%;
  height: 98%;
}
#rightB{
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 99%;
  height: 98%;
}

